* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  height: 100%;

}
#app{
  height: 100%;
  border: 1px solid transparent;
}
#app.start{
  background-color:rgba(0, 0,0 ,.1) ;
}
body {
  font-size: 16px;
  font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
ul,
ol,
th,
td,
button,
figure,
input,
textarea,
form,
pre,
blockquote,
figure {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
}

ol,
ul {
  list-style: none
}

a,
input,
select,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  color: inherit;
  outline: none;
}

button,
input[type='submit'],
input[type='button'] {
  cursor: pointer;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[hidden] {
  display: none;
}
img {
  max-width: 100%;
}

//table美化
table{
  max-width: 400px;
  border-collapse: collapse;
  width:100%;
  border:1px solid #c6c6c6 ;
  margin-bottom:20px;
}
table th{
  border-collapse: collapse;
  border-right:1px solid #c6c6c6 ;
  border-bottom:1px solid #c6c6c6 ;
  background-color:#ddeeff ;
  padding:5px 9px;
  font-size:14px;
  font-weight:normal;
  text-align:center;
}
table td{
  border-collapse: collapse;
  border-right:1px solid #c6c6c6 ;
  border-bottom:1px solid #c6c6c6;
  padding:5px 9px;
  font-size:12px;
  font-weight:normal;
  text-align:center;
  word-break: break-all;
}
table tr:nth-child(odd){
  background-color:#fff
}
table tr:nth-child(even){
  background-color: #f8f8f8
}

#markdownArticle{
  img {
    max-width: 100px;
  }
}
